.banner {
  @extend %full-width;
  background: $bg-color;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center center;
  background-attachment: fixed;
  position: relative;

  .header {
    position: absolute;
    top: 30%;
    left: 23%;

    .header-title {
      @include header-title(6rem);

      .link {
        color: $banner-title-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .banner-video {
    height: 100%;
  }
}

.container {
  @extend %container;

  .copyright,
  .date {
    font-size: 1.2rem;
    padding: 50px 0 30px;
    word-spacing: .2rem;
    text-indent: 1rem;
  }

  .banner-subtitle {
    font-size: 3rem;
    font-weight: 900;
    text-indent: 1rem;
    word-spacing: .2rem;
  }

  .banner-content {
    padding: 30px 0 50px;
    font-size: 1.5rem;
    text-indent: 1rem;
    text-align: justify;
    line-height: 1.7rem;
    word-spacing: .2rem;
  }
}